<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mapper.MapperOne">

    <resultMap id="resultUser" type="cn.com.Entity.User">
       <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="age" jdbcType="VARCHAR" property="userAge"></result>
        <result column="name" jdbcType="INTEGER" property="userName"></result>
        <result column="addr" jdbcType="VARCHAR" property="addr"></result>
        <result column="idnum" jdbcType="VARCHAR" property="idnum"></result>
    </resultMap>
    <insert id="insertUser" parameterType="cn.com.Entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user values(#{id},#{userAge},#{userName},#{addr},#{idnum})
    </insert>
    <select id="query" parameterType="String" resultMap="resultUser">
            select * from user where id = #{id}
    </select>
    <insert id="insertBatchUser" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <foreach collection="list" item="u"  separator="union all">
            select #{u.id},'${u.userAge}','${u.userName}','${u.addr}','${u.idnum}'
        </foreach>
    </insert>
</mapper>